@import'../../scss/main.scss';

        .backtop{
    
                padding: 8px;
                color: #fff;
                position: fixed;
                bottom: 30px;
                right: 30px;
                cursor: pointer;
             
        }


